body{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background: skyblue;


}

body.drag{
	position: fixed; overflow-y:auto 
}




div.container-fluid{
	background: white;
	min-height: 90vh;
    -webkit-box-shadow: -2px 1px 10px 6px rgba(0,0,0,0.58);
	-moz-box-shadow: -2px 1px 10px 6px rgba(0,0,0,0.58);
	box-shadow: -2px 1px 10px 6px rgba(0,0,0,0.58);
	padding: 5px 5px 5px 23px;
	font-size: 13px;
	margin-top: 2%;
}


 @media only screen and (min-width: 360px) and (max-width:961px) {

		div.mobile-div{
					display: block !important;
		}


}

@media (min-width:961px )  {

div.desktop-div{
	display: block !important;
}



}


.g-card-container{
	margin: 30px auto;
}
.card-container{
		height: auto;
		min-height: 150px;
		padding-bottom: 20px;
		margin: 0 auto;
		border-radius: 2%;
		-webkit-box-shadow: -2px 1px 10px 6px rgba(0,0,0,0.58);
		-moz-box-shadow: -2px 1px 10px 6px rgba(0,0,0,0.58);
		box-shadow: -2px 1px 10px 6px rgba(0,0,0,0.58);
		background: white;

}

.card-header{
		border: 1px solid grey;
		background: skyblue;
		margin-top: 4%;
		margin-bottom: 2%;
		-webkit-box-shadow: -2px 1px 5px 2px rgba(0,0,0,0.58);
		-moz-box-shadow: -2px 1px 5px 2px rgba(0,0,0,0.58);
		box-shadow: -2px 1px 5px 2px rgba(0,0,0,0.58);
		text-align: center;
		font-weight: bold;
}



/* PUNCH CSS */

.g-punch-divider{
	display: block;
	padding: 5px 5px 5px 5px;
	-webkit-box-shadow: -2px 1px 5px 2px rgba(0,0,0,0.58);
	-moz-box-shadow: -2px 1px 5px 2px rgba(0,0,0,0.58);
	box-shadow: -2px 1px 5px 2px rgba(0,0,0,0.58);
	margin-right: 2%;
	margin-bottom: 2%;
}


.g-punch-container{
	margin: 3% auto 0 auto;
	width: 80%;
}

.punch-container{
	display: flex;
	border: 1px solid grey;
	background: white;
	min-height:100px;
	min-width: 100px;
	max-width: 300px;
	max-height: 250px;
	margin-right: 3%;
	margin-bottom: 2%;
	-webkit-box-shadow: -2px 1px 5px 2px rgba(0,0,0,0.58);
	-moz-box-shadow: -2px 1px 5px 2px rgba(0,0,0,0.58);
	box-shadow: -2px 1px 5px 2px rgba(0,0,0,0.58);
	cursor: context-menu;
	padding: 10px 10px 10px 10px;

}


.punch-container span{
	word-break: break-word;
}

.sortable-card{
	vertical-align: middle;
	text-align: center;
	margin-bottom: 2%;
	cursor: context-menu;


}

div.sortable-card button.close{
	display: none;
}


div.sortable2 button.close{
	display: block;
    position: relative;
	visibility: visible;

}


div.answersection table.t-hidden{
	position: absolute;
	left: -9999999px;
	top:30px;
}

.main-sortable{
	width: 100%;
	height: 100%;
}

#nextButton{
	margin: 0 auto;
}
#nextButton.completed{
	display: inline-flex !important;
}




.owl-carousel .owl-stage-outer.drag {
    /* override */
    overflow: visible;
    display: block !important;

}


owl-item.drag{
	display: none !important;
}




.owl-stage.drag {
	display: block !important;
 	width: 400px !important;

 }

    .owl-carousel .owl-item {
        text-align:center;

    }
    .owl-carousel .item {
        float: none;
        display: inline-block;
    }

.button-div,.buttons-sm{
	text-align: center;
	margin: 0 auto;
}


.button-carousel-div{
	margin: 0 auto;
	width: 90%;
	display: flex;
}

button.btn-mobile{
	margin: 3%;
	display: inline-block;
}

.mobile-div{
	margin-top: 3%;
}

